/* Project CSS 
============================================================
============================================================*/


/* HEADER and NAV ============================== */
header{
    text-align: center;
    padding: 20px;
    font-size: 3.5em;
    font-family: 'Cinzel', serif;
}

nav ul{
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
}
nav li{
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
nav a:hover{
    border: solid 1px #ff0000;
    color: #ff0000;
    background-color: #FFF;
    padding: 5px;
}
nav a:link{
    text-decoration: none;
    padding: 4px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;

}
nav a:visited{
    color: #0015ff;
}
/* ABOUT ============================== */
#about{
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
    border: solid 2px #000;
    background-color: #ffffff;
    box-shadow: 10px 10px 5px #1a1a1a;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.5em;
}
/* COMPONENTS ============================== */
.container{
    margin: 0 auto;
    width: 90%;
    border: solid 2px #000;
    padding: 20px;
    background-color: #fffff0;
    border-radius: 7px;
    box-shadow: 10px 10px 5px #1a1a1a;
    font-family: 'IM Fell English', serif;
}
.container p{
    font-size: 1.5em;
    width: 85%;
    text-align: justify;
    font-family: 'IM Fell English', serif;
    margin: 0 auto;
}
#weekOne{
    margin-left: 25px;
    border-bottom: solid 1px #eaeaea;
    font-size: 2.5em;
}
#weekTwo{
    margin-left: 25px;
    border-bottom: solid 1px #eaeaea;
    font-size: 2.5em;
}
article{
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: solid 10px #888;
}
article h1{
    width: 25%;
    border-bottom: solid 1px #eaeaea;
    font-family: 'IM Fell English', serif;
    font-size: 35px;
    color: #888;
}
h2{
    margin:40px 0 15px 0;
    width: 40%;
    border-bottom: solid 1px #eaeaea;
    color: #888;
}
img{
    width: 100%;
}

body{
    background-color: #818181;
}

a:link{
    text-decoration: none;
    padding: 4px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1em;
    margin: 0 auto;
    color: #000;
}
a:hover{
    border: solid 1px #ff0000;
    color: #ff0000;
    background-color: #FFF;
    padding: 4px;
}
a:visited{
    color: #FFF;
}
footer{
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    color: #ffffff;
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
}
.button{
    display:       inline-block;
    padding:       8px 20px;
    background:    #073763 url('http://dabuttonfactory.com/button.png?w=1&h=40&bgt=gradient&bgc=3d85c6&ebgc=073763') repeat-x;
    background:    -moz-linear-gradient(#3d85c6, #073763);
    background:    -o-linear-gradient(#3d85c6, #073763);
    background:    -webkit-linear-gradient(#3d85c6, #073763);
    background:    linear-gradient(#3d85c6, #073763);
    border-radius: 5px;
    color:         #fff;
    font:          normal 700 24px/1 "Calibri", sans-serif;
    text-align:    center;
    text-shadow:   1px 1px 0 #000;
}