/* Project CSS 
============================================================
============================================================*/


/* HEADER and NAV ============================== */
header{
    text-align: center;
    padding: 20px;
    font-size: 3.5em;
    font-family: 'Cinzel', serif;
}

#nav ul{
    width: 100%;
    list-style-type: none;
    margin-left: 65px;
    text-decoration: none;

}
#nav li{
    display: inline;
    padding: 5px;
    margin-right: 55px;
}
#nav a:hover{
    border: solid 1px #ff0000;
    color: #ff0000;
    background-color: #FFF;
    padding: 3px;
}
#nav a:link{
    text-decoration: none;
    border: solid 1px #000000;
    padding: 4px;
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 1.5em;
    margin-left: 30px;
}
#nav a:visited{
    color: #20ff0e;
}
/* ABOUT ============================== */
#blog{
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
    border: solid 2px #000;
    background-color: #ffffff;
    box-shadow: 10px 10px 5px #1a1a1a;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.5em;
}
/* COMPONENTS ============================== */
.container{
    margin: 0 auto;
    width: 90%;
    border: solid 2px #000;
    padding: 20px;
    background-color: #fffff0;
    border-radius: 7px;
    box-shadow: 10px 10px 5px #1a1a1a;
}
.container p{
    font-size: 1.5em;
    width: 85%;
    text-align: justify;
    font-family: 'IM Fell English', serif;
    margin: 0 auto;
}
#weekOne{
    margin-left: 25px;
    border-bottom: solid 1px #000;
    font-family: 'Amatic SC', cursive;
    font-size: 2.5em;
}
article h1{
    margin: 25px;
    width: 20%;
    border-bottom: solid 1px #000;
    font-family: 'Fontdiner Swanky', cursive;
}
article h2{
    margin: 25px;
    width: 40%;
    border-bottom: solid 1px #000;
    font-family: 'Fontdiner Swanky', cursive;
}
img{
    width: 100%;
}

body{
    background-color: #818181;
}
footer{
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    color: #ffffff;
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
}