<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Randall Wyatt</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link rel="icon" type="image/gif" href="img/animated_favicon1.gif">

	
</head>
<body>

	<!-- Component -->
	<nav>
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="http://www.templatemonster.com/demo/57815.html">About Us</a>
				<ul>
					<li>Membership</li>
					<li>Our Team</li>
					<li>News & Events
						<ul>
							<li>Latest</li>
							<li>Archive</li>
						</ul>
					</li>
					<li>Gallery</li>
				</ul>
			</li>
			<li><a href="http://www.templatemonster.com/demo/57815.html">Training</a></li>
			<li><a href="http://www.templatemonster.com/demo/57815.html">News</a></li>
			<li><a href="http://www.templatemonster.com/demo/57815.html">Contact Us</a></li>

		</ul>
	</nav>

	<!-- End Component -->
	
</body>
</html>