<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
<div class="firstArticle">
	<article id="floats">
	<img src="/img/floats.png" height="300" width="600">
	</article>
</div>
	<!-- End Component -->


	<!-- Component -->
<div class="secondArticle">
	<article id="gallery">

	</article>
</div>
	<!-- End Component -->


	<!-- Component -->
<div class="thirdArticle">
	<article id="animation">

	</article>
</div>
	<!-- End Component -->


	<!-- Component -->
<div class="fourthArticle">
	<article id="orbiter">

	</article>
</div>
	<!-- End Component -->

	<!-- Component -->
<div class="fifthArticle">
	<article id="dropDown">

	</article>
</div>
	<!-- End Component -->
</body>
</html>