<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Randall Wyatt</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link rel="icon" type="image/gif" href="img/animated_favicon1.gif">
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>


</head>
<script type="text/javascript">
	(function() {
		var path = '//easy.myfonts.net/v2/js?sid=271224(font-family=Stevie+Sans+Medium)&sid=271225(font-family=Stevie+Sans+Bold)&sid=271226(font-family=Stevie+Sans+Light)&sid=271228(font-family=Stevie+Sans+Book)&key=7USNT2evg2',
				protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
				trial = document.createElement('script');
		trial.type = 'text/javascript';
		trial.async = true;
		trial.src = protocol + path;
		var head = document.getElementsByTagName("head")[0];
		head.appendChild(trial);
	})();
</script>
<body>
	<div id="container">
		<ul>
			<li><img src="./img/recording.jpg" alt="recording">
				<h1>Recording</h1>
			<p>Providing recording and rehearsal space to musicians throughout the area.
				We can help with any of your recording needs. Here artists can easily
				record their music and songs to share them with people  </p>
			</li>

			<li><img src="./img/mixing.jpg" alt="mixing">
				<h1>Mixing</h1>
			<p>
				Mixing is the process of combining the different sonic elements of recorded
				music-such as vocals, instruments, and effects- into a final version, and our
				recording studios are specifically designed to reveal the most intimate sonic details.
			</p>
			</li>

			<li><img src="./img/mastering.jpg" alt="mastering">
				<h1>Mastering</h1>
			<p>
				Providing top audio mastering services for local and national artists and production
				companies. Our mastering suite is an acoustically designed critical listening environment
				that features the highest quality analog mastering-grade equipment.
			</p>

			</li>
		</ul>
	</div>
</body>
</html>