<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Randall Wyatt</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link rel="icon" type="image/gif" href="img/animated_favicon1.gif">
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700|Roboto' rel='stylesheet' type='text/css'>


</head>
<body>

<!-- Component -->
<div class="container">
		<div id="thisWeek">
			<h3>This week`s artists:</h3>
				<img src="img/page-1_img04.jpg" alt="" class="img_add">
				<h6 class="primary-color"><a href="#">Justin Bieber</a></h6>
				<h6>Pop</h6>
				<p>140,122 listeners </p>
				<p>Canadian pop singer Justin Bieber was barely into his teens when he released his 2009 debut.</p>

				<img src="img/page-1_img05.jpg" alt="" class="img_add">
					<h6><a href="#">Luke Bryan</a></h6>
					<h6>Country Music</h6>
					<p>120,102 listeners</p>
					<p>Crash My Party is the fourth album from American country star Luke Bryan.</p>

					<img src="img/page-1_img06.jpg" alt="" class="img_add">
					<h6><a href="#">Taylor Swift</a></h6>
					<h6>Pop</h6>
					<p>140,122 listener</p>
					<p>Taylor Swift is that rarest of pop phenomenona: a superstar who managed to completely cross.</p>
			<a href="#" class="btn"> more artists</a>
		</div>

		<div id="Tracks">
			<h3>This week`s tracks</h3>
			<ul>
				<li>
					<h6><a href="#">Wildest Dreams</a></h6>
					<h6>Taylor Swift</h6>
					<p>140,122 listeners</p>
				</li>
				<li>
					<h6><a href="#">Strip It Down</a></h6>
					<h6>Luke Bryan</h6>
					<p>201,123 listeners</p>
				</li>
				<li>
					<h6><a href="#">What Do You Mean?</a></h6>
					<h6>Justin Bieber</h6>
					<p>140,122 listeners</p>
				</li>
				<li>
					<h6><a href="#">Bad Blood (feat. Kendrick Lamar)</a></h6>
					<h6>Taylor Swift</h6>
					<p>255,102 listeners</p>
				</li>
				<li>
					<h6><a href="#">Uptown Funk (feat. Bruno Mars)</a></h6>
					<h6>Mark Ronson</h6>
					<p>140,122 listeners</p>
				</li>
				<li>
					<h6><a href="#">Good for You</a></h6>
					<h6>Selena Gomez</h6>
					<p>305,145 listener</p>
				</li>
			</ul><a href="#" class="btn"> more tracks</a>
		</div>
		<div id="events" >
			<h3>This week`s events</h3>
			<div>

					<time datetime="2015">02/25</time>

					<p>As Annie Mac Presents 2015 heads towards this week's Official Compilation Chart Top 10, we’re giving lucky one lucky reader a pair of tickets to Annie’s upcoming Annie Mac Presents UK tour, with five runners-up...</p>

					<time datetime="2015">02/20</time>

					<p>Rudimental interview: "We're now serious contenders in the game" Band member Amir talks about the chart-topping record, collaborating with Bobby Womack and where they're headed next.</p>

					<time datetime="2015">02/15</time>

					<p>Catch up on all the week’s biggest music stories… in pictures! From Taylor Swift gracing the cover of NME, to Britney Spears’ behind-the-scenes studio snaps, to Nick Carter truly bringing Backstreet back- we’ve got it all.</p>


					<time datetime="2015">02/10</time>

					<p>Justin Bieber’s What Do You Mean tops Official Singles Chart for a fourth week Plus new entries from Philip George &amp; Anton Powers, The Vamps, more.</p>
				<a href="#" class="btn"> more events</a>
				</div>

		</div>
	</div>
</div>
<!-- End Component -->

</body>
</html>