<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Randall Wyatt</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link rel="icon" type="image/gif" href="img/animated_favicon1.gif">
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700|Roboto' rel='stylesheet' type='text/css'>


</head>
<body>

<!-- Component -->
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 artist_wr">
			<h3>This week`s artists:</h3>
			<div class="row">
				<div class="col-xs-3 col-sm-3 col-md-6">
					<div class="center"><img src="img/page-1_img04.jpg" alt="" class="img_add"></div>
				</div>
				<div class="col-xs-9 col-sm-9 col-md-6">
					<h6 class="primary-color"><a href="#">Justin Bieber</a></h6>
					<h6>Pop</h6>
					<p>140 122 listeners <br> Canadian pop singer Justin Bieber was barely into his teens when he released his 2009 debut.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-sm-3 col-md-6">
					<div class="center"><img src="img/page-1_img05.jpg" alt="" class="img_add"></div>
				</div>
				<div class="col-xs-9 col-sm-9 col-md-6">
					<h6 class="primary-color"><a href="#">Luke Bryan</a></h6>
					<h6>Country Music</h6>
					<p>120 102 listeners <br> Crash My Party is the fourth album from American country star Luke Bryan.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-sm-3 col-md-6">
					<div class="center"><img src="img/page-1_img06.jpg" alt="" class="img_add"></div>
				</div>
				<div class="col-xs-9 col-sm-9 col-md-6">
					<h6 class="primary-color"><a href="#">Taylor Alison Swift</a></h6>
					<h6>Pop</h6>
					<p>140 122 listener <br> Taylor Swift is that rarest of pop phenomenona: a superstar who managed to completely cross.</p>
				</div>
			</div>
			<a href="#" class="btn"> more artists</a>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3">
			<h3 class="wow">This week`s tracks</h3>
			<ul class="index-list">
				<li class="wow">
					<h6 class="primary-color"><a href="#">Wildest Dreams</a></h6>
					<h6>Taylor Swift</h6>
					<p>140 122 listeners</p>
				</li>
				<li>
					<h6 class="primary-color"><a href="#">Strip It Down</a></h6>
					<h6>Luke Bryan</h6>
					<p>201,123 listeners</p>
				</li>
				<li>
					<h6 class="primary-color"><a href="#">What Do You Mean?</a></h6>
					<h6>Justin Bieber</h6>
					<p>140,122 listeners</p>
				</li>
				<li>
					<h6 class="primary-color"><a href="#">Bad Blood (feat. Kendrick Lamar)</a></h6>
					<h6>Taylor Swift</h6>
					<p>255,102 listeners</p>
				</li>
				<li>
					<h6 class="primary-color"><a href="#">Uptown Funk (feat. Bruno Mars)</a></h6>
					<h6>Mark Ronson</h6>
					<p>140,122 listeners</p>
				</li>
				<li>
					<h6 class="primary-color"><a href="#">Good for You</a></h6>
					<h6>Selena Gomez</h6>
					<p>305,145 listener</p>
				</li>
			</ul><a href="#" class="btn wow fadeInUp animated"> more tracks</a>
		</div>
		<div class="col-md-offset-1 col-xs-12 col-sm-12 col-md-4">
			<h3>This week`s events</h3>
			<div class="box">
				<div class="box_aside">
					<time datetime="2015">02/25</time>
				</div>
				<div class="box_cnt__no-flow">
					<p>As Annie Mac Presents 2015 heads towards this week's Official Compilation Chart Top 10, we’re giving lucky one lucky reader a pair of tickets to Annie’s upcoming Annie Mac Presents UK tour, with five runners-up...</p>
				</div>
			</div>
			<div class="box">
				<div class="box_aside">
					<time datetime="2015">02/20</time>
				</div>
				<div class="box_cnt__no-flow">
					<p>Rudimental interview: "We're now serious contenders in the game" Band member Amir talks about the chart-topping record, collaborating with Bobby Womack and where they're headed next.</p>
				</div>
			</div>
			<div class="box wow fadeInRight animated"">
				<div class="box_aside">
					<time datetime="2015">02/15</time>
				</div>
				<div class="box_cnt__no-flow">
					<p>Catch up on all the week’s biggest music stories… in pictures! From Taylor Swift gracing the cover of NME, to Britney Spears’ behind-the-scenes studio snaps, to Nick Carter truly bringing Backstreet back- we’ve got it all.</p>
				</div>
			</div>
			<div data-wow-delay="0.8s" class="box box_mod1 wow fadeInRight animated" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInRight;">
				<div class="box_aside">
					<time datetime="2015">02/10</time>
				</div>
				<div class="box_cnt__no-flow">
					<p>Justin Bieber’s What Do You Mean tops Official Singles Chart for a fourth week Plus new entries from Philip George &amp; Anton Powers, The Vamps, more.</p>
				</div>
			</div><a href="#" class="btn wow fadeInRight animated"">more events</a>
		</div>
	</div>
</div>
<!-- End Component -->

</body>
</html>