/* Project CSS 
============================================================
============================================================*/
.container{
    background-color: rgba(43, 43, 43, 0.87);
}
li{
    display: inline;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
img{
    width: 33.1%;
}
ul{
    width: 100%;
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
#menu{
    width: 100%;
}