<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Randall Wyatt</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link rel="icon" type="image/gif" href="img/animated_favicon1.gif">


</head>
<body>

<!-- Component -->
<div class="container main">
	<div class="row">
		<div class="four columns portfolio">
			<a class="image-link" href=""><img src=""></a>
		</div>
		<div class="four columns portfolio">
			<a class="image-link" href=""><img src=""></a>
		</div>
		<div class="four columns portfolio">
			<a class="image-link" href=""><img src=""></a>
		</div>
	</div>

	<div class="row">
		<div class="four columns portfolio">
			<a class="image-link" href=""><img src=""></a>
		</div>
		<div class="four columns portfolio">
			<a class="image-link" href=""> <img src=""></a>
		</div>
		<div class="four columns portfolio">
			<a class="image-link" href=""><img src=""></a>
		</div>
	</div>

	<div class="row">
		<div class="four columns portfolio">
			<a class="image-link" href=""><img src=""></a>
		</div>
		<div class="four columns portfolio">
			<a class="image-link" href=""><img src=""></a>
		</div>
		<div class="four columns portfolio">
			<a class="image-link" href=""><img src=""></a>
		</div>
	</div>
</div>



<!-- End Component -->

</body>
</html>