<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Randall Wyatt</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link rel="icon" type="image/gif" href="img/animated_favicon1.gif">


</head>
<body>

<!-- Component -->
<div class="container">
		<img id="menu" src="./img/menubar.png">

	<ul>
		<li>
			<img src="./img/top_left.png">
		</li>
		<li>
			<img src="./img/top_middle.png">
		</li>
		<li>
			<img src="./img/top_right.png">
		</li>
	</ul>

	<ul>
		<li>
			<img src="./img/middle_left.png">
		</li>
		<li>
			 <img src="./img/middle_chest.png">
		</li>
		<li>
			<img src="./img/middle_right.png">
		</li>
	</ul>

	<ul>
		<li>
			<img src="./img/bottom_left.png">
		</li>
		<li>
			<img src="./img/bottom_middle.png">
		</li>
		<li>
			<img src="./img/bottom_right.png">
		</li>
	</ul>
</div>



<!-- End Component -->

</body>
</html>